// Theme variables
$theme_background: #fefefe;
$theme_background_transparent: rgba(255, 255, 255, 0.9);
$theme_white: #fdfdfd;
$theme_divider: #c9c9c9;

$theme_primary: #d0eafa;
$theme_primary_accent: #3879a1;
$theme_secondary: #fffed1;

$theme_text_primary: #0e0e0e;
$theme_text_secondary: #4e4e4e;
$theme_text-washed-out: #ddd;
$theme_text_muted: #999;

$font_family: -apple-system,BlinkMacSystemFont,"segoe ui",Helvetica,Arial,sans-serif,"apple color emoji","segoe ui emoji","segoe ui symbol";

$hamburger-bar-height: 0.35rem;

@mixin display-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
	  -webkit-box-direction: reverse;
	  -webkit-box-orient: horizontal;
	  -moz-box-direction: reverse;
	  -moz-box-orient: horizontal;
	} @else if $value == column {
	  -webkit-box-direction: normal;
	  -webkit-box-orient: vertical;
	  -moz-box-direction: normal;
	  -moz-box-orient: vertical;
	} @else if $value == column-reverse {
	  -webkit-box-direction: reverse;
	  -webkit-box-orient: vertical;
	  -moz-box-direction: reverse;
	  -moz-box-orient: vertical;
	} @else {
	  -webkit-box-direction: normal;
	  -webkit-box-orient: horizontal;
	  -moz-box-direction: normal;
	  -moz-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-ms-flex-direction: $value;
	-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
	// No Webkit/FF Box fallback.
	-webkit-flex-wrap: $value;
	@if $value == nowrap {
	  -ms-flex-wrap: none;
	} @else {
	  -ms-flex-wrap: $value;
	}
	flex-wrap: $value;
}

@mixin flex-grow($int: 1) {
	-webkit-box-flex: $int;
	-moz-box-flex: $int;
	-webkit-flex-grow: $int;
	-ms-flex: $int;
	flex-grow: $int;
}

@mixin flex-shrink($int: 0) {
	-webkit-flex-shrink: $int;
	-moz-flex-shrink: $int;
	-ms-flex: $int;
	flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
	-webkit-flex-basis: $value;
	flex-basis: $value;
}

@mixin flex($fg: 1, $fs: 0, $fb: auto) {
	// Set a variable to be used by box-flex properties
	$fg-boxflex: $fg;

	// Box-Flex only supports a flex-grow value so lets grab the
	// first item in the list and just return that.
	@if type-of($fg) == 'list' {
	  $fg-boxflex: nth($fg, 1);
	}

	-webkit-box: $fg-boxflex;
	-moz-box: $fg-boxflex;
	-webkit-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
	  -webkit-box-pack: start;
	  -moz-box-pack: start;
	  -ms-flex-pack: start;
	} @else if $value == flex-end {
	  -webkit-box-pack: end;
	  -moz-box-pack: end;
	  -ms-flex-pack: end;
	} @else if $value == space-between {
	  -webkit-box-pack: justify;
	  -moz-box-pack: justify;
	  -ms-flex-pack: justify;
	} @else if $value == space-around {
	  -ms-flex-pack: distribute;
	} @else {
	  -webkit-box-pack: $value;
	  -moz-box-pack: $value;
	  -ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	justify-content: $value;
}

@mixin align-items($value: stretch) {
	@if $value == flex-start {
	  -webkit-box-align: start;
	  -moz-box-align: start;
	  -ms-flex-align: start;
	} @else if $value == flex-end {
	  -webkit-box-align: end;
	  -moz-box-align: end;
	  -ms-flex-align: end;
	} @else {
	  -webkit-box-align: $value;
	  -moz-box-align: $value;
	  -ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	align-items: $value;
}

@mixin align-self($value: auto) {
	// No Webkit Box Fallback.
	-webkit-align-self: $value;
	@if $value == flex-start {
	  -ms-flex-item-align: start;
	} @else if $value == flex-end {
	  -ms-flex-item-align: end;
	} @else {
	  -ms-flex-item-align: $value;
	}
	align-self: $value;
}

// -------------------

html {
	height: 100%;
}

body {
	height: 100%;
	@include display-flex;
	@include flex-direction(column);
	@include align-items(stretch);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $theme_background;
	color: $theme_text_primary;
	font-family: $font_family;
	line-height: 1.5;
	font-size: 1.2rem;
	word-wrap: break-word;
}

a {
	&:link {
		color: $theme_text_primary;
	}
	&:visited {
		color: $theme_text_primary;
	}
	&:hover {
		color: $theme_text_primary;
	}
	&:active {
		color: $theme_text_primary;
	}
}

.header-content-division {
	padding-top: 40px;
}

#page-header {
	@include display-flex;
	@include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-self(center);
  background-color: $theme_background_transparent;
  transition: top 750ms ease, background-color 1.2s ease;
	position: fixed;
  top: -100px;
  margin: 0;
	padding: 0;
	padding-top: 10px;
  width: 100%;
  max-width: 1280px;
  z-index: 2;

	a {
		text-decoration: none;
  }

  &.hamburger-mode {
    background-color: transparent;
    transition: top 750ms ease, background-color 0s linear;
  }

  &.sticky {
    top: 0px;
}

	.header-branding {
		@include display-flex;
		@include flex-shrink(0);
		@include flex-grow(1);
		@include justify-content(left);
		@include align-items(center);
		padding: 0;
		margin: 0;
		margin-left: 20px;
		a {
			text-transform: uppercase;
			font-size: 2.10rem;
			font-weight: 700;
			color: $theme_text_secondary;
			&:hover {
				color: $theme_primary_accent;
			}
		}
  }

	nav.header-nav {
		@include display-flex;
		@include flex-direction(row);
		margin-right: 20px;
		ul {
			@include display-flex;
			@include flex-direction(row);
			justify-items: space-between;
		}
		ul.header-links {
			display: none;
			visibility: hidden;
			opacity: 0;
			transition: opacity 1s linear;
		}
		li {
			@include flex($fb: auto);
			list-style-type: none;
			margin: 0 1em;
			a {
				&:hover {
					color: $theme_primary_accent;
				}
			}
		}
  }
}

.hamburger {
	user-select: none;
	cursor: pointer;
	height: $hamburger-bar-height * 5;
	width: $hamburger-bar-height * 7;
	padding-bottom: 30px;
	z-index: 3;
	&:hover {
		>.toggle-bar {
			background: $theme_primary_accent;
			&:after {
				background: $theme_primary_accent;
			}
			&:before {
				background: $theme_primary_accent;
			}
		}
	}
	.toggle-bar {
		position: absolute;
		top: 58%;
		transform: translateY(-58%);
		transition: all 250ms ease;
		background: $theme_text_secondary;
		content: '';
		height: $hamburger-bar-height;
		width: $hamburger-bar-height * 7;
		margin: 0;
		margin-top: 0;
		&::after {
			position: absolute;
			top: 58%;
			transform: translateY(-58%);
			transition: all 250ms ease;
			background: $theme_text_secondary;
			content: '';
			height: $hamburger-bar-height;
			width: $hamburger-bar-height * 7;
			margin: 0;
			margin-top: $hamburger-bar-height * 2;
		}
		&::before {
			position: absolute;
			top: 58%;
			transform: translateY(-58%);
			transition: all 250ms ease;
			background: $theme_text_secondary;
			content: '';
			height: $hamburger-bar-height;
			width: $hamburger-bar-height * 7;
			margin: 0;
			margin-top: $hamburger-bar-height * -2;
		}
  }
}
.hamburger.expanded {
	.toggle-bar {
		background: transparent;
		&::after {
			background: $theme_text_secondary;
			margin-top: 0;
			transform: rotate(45deg);
		}
		&::before {
			background: $theme_text_secondary;
			margin-top: 0;
			transform: rotate(-45deg);
		}
	}
}

.site-menu {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 550ms ease;
	background-color: $theme_primary;
	border-bottom: 1px solid $theme_primary_accent;
	z-index: 1;
	a {
		text-decoration: none;
		color: $theme_text_secondary;
		&:hover {
			border-bottom: 1px solid $theme_primary_accent;
			color: $theme_text_primary;
		}
	}
}
.site-menu.visible {
	height: 100%;
	opacity: 1;
}

.header-logo {
	visibility: hidden;
}

.header-logo.visible {
	visibility: visible;
}

.visible-override {
	visibility: visible;
}

.site-menu-body {
	padding: 20px;
}

.site-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25%;
	font-size: 1.5em;
  text-align: right;

	li {
		list-style-type: none;
	}
}

.site-menu-tagline {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	color: $theme_text_secondary;
	font-size: .8em;
	font-style: italic;
}

#landing {
	@include display-flex;
	@include flex-direction(column);
	@include flex($fb: auto);
	@include align-self(center);
	max-width: 600px;
	text-align: center;
  margin-bottom: 3em;

	.landing-branding {
		h1.landing-title {
			font-size: 3em;
			line-height: 1em;
			margin: 30px 0;
		}
		.landing-logo {
			position: relative;
			height: 275px;
			img {
				position: absolute;
				width: 275px;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}
		.landing-logo-mask {
			clip-path: circle(125px at center);
			-webkit-clip-path: circle(125px at center);
		}
  }

	.landing-description {
		margin: 0;
  }

	.landing-tagline {
		font-style: italic;
		color: $theme_text_secondary;
    margin: 0;

    &::before {
      content: '\2014';
		}
		&::after {
			content: '\2014';
		}
  }

	nav {
		margin: 30px 0;
		.fa-lg {
			font-size: 2.5em;
		}
  }

	.social-links {
		ul {
			@include display-flex;
			@include justify-content(space-evenly);
			@include flex-basis(250px);
			margin: 20px auto;
			padding: 0;
      list-style: none;

			li {
				@include flex(1);
      }

      a {
        color: $theme_text_secondary;
        &:hover {
          color: $theme_primary_accent;
        }
      }
		}
	}
}

#article {
  @include flex($fb: auto);
	@include align-self(center);
  max-width: 800px;
	padding: 20px;
	margin: 40px 0;

  * {
		box-sizing: border-box;
  }

	a {
    color: $theme_primary_accent;
		text-decoration: none;
    font-weight: bold;
		&:active {
			text-decoration: underline;
		}
		&:hover {
      text-decoration: underline;
		}
	}

  strong {
		font-weight: 600;
	}

  p {
		margin-top: 0;
		margin-bottom: 16px;
		margin-top: 0;
		margin-bottom: 10px;
  }

	dl {
		dt {
			font-size: 1.15em;
			font-style: italic;
			font-weight: 600;
		}
		dd {
      padding: 0 16px;
      margin-left: 0;
      margin-bottom: 16px;
		}
  }

	table {
    margin-top: 16px;
		margin-bottom: 16px;
		display: block;
		width: 100%;
		overflow: auto;
		border-collapse: collapse;
		th {
			font-weight: 600;
			padding: 6px 13px;
			border: 1px solid $theme_divider;
			background-color: $theme_white;
		}
		td {
			padding: 6px 13px;
			border: 1px solid $theme_divider;
			background-color: $theme_white;
		}
  }

	pre {
		margin-top: 0;
		margin-bottom: 16px;
  }

	hr {
		height: .25em;
		margin: 24px 0;
		overflow: hidden;
		background: transparent;
		border: 0;
		border-bottom: 1px solid $theme_divider;
	}

  h1, h2, h3, h4, h5, h6 {
		margin-top: 24px;
		margin-bottom: 16px;
		font-weight: 600;
		line-height: 1.25;
		margin: .67em 0;
		padding-bottom: .3em;
		font-weight: 600;
    border-bottom: 1px solid $theme_divider;
  }
  h1 {
		font-size: 1.75em;
  }
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.25em;
	}
	h4 {
		font-size: 1em;
	}
	h5 {
		font-size: .875em;
	}
	h6 {
		font-size: .85em;
	}

  li {
		>p {
			margin-top: 16px;
		}
  }

	blockquote {
		box-shadow: 0 0 6px rgba(0,0,0,.5);
		padding: 80px 1em 1.75em;
		margin: 1.5em 0 0;
		color: $theme_text_secondary;
		background: $theme_white;
		border-left: 10px solid $theme_text-washed-out;
		&::before {
			position: relative;
			display: block;
			height: 0;
			line-height: .5em;
			content: '\201C'; // Left double quote
			top: -50px;
			font: italic 400%/1 Cochin,Georgia,times new roman,serif;
			color: $theme_text_muted;
    }

		p {
			padding-bottom: 1em;
    }

		cite {
			margin-right: 1em;
    }

		.fancy-quote-citation {
			color: $theme_primary_accent;
			text-align: right;
		}
  }

	summary {
		font-style: italic;
  }

	img {
		max-width: 100%;
		box-sizing: content-box;
		background-color: $theme_white;
		border-style: none;
		box-shadow: 0 3px 15px rgba(0,0,0,.2);
  }

	img[align=right] {
		padding-left: 20px;
  }

	img[align=left] {
		padding-right: 20px;
  }

  .news-article {
    >p {
      &:first-of-type {
        &::first-letter {
          float: left;
          padding-right: 10px;
          font-size: 4em;
        }
      }
    }
  }
}

#list-page {
	@include display-flex;
	@include flex($fb: auto);
	@include flex-direction(column);
	@include align-self(center);
	max-width: 800px;
  padding: 20px;

	.content-header {
		summary {
			font-style: italic;
		}
  }

	.content-list {
		@include display-flex;
		margin: 40px 0;
  }

  h1, h2 {
		margin-top: 24px;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 16px;
		border-bottom: 1px solid $theme_divider;
  }
	h1 {
		font-size: 1.65em;
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.5em;
		padding-bottom: .3em;
	}

  a {
		color: $theme_primary_accent;
    text-decoration: none;
	}

  strong {
		font-weight: 600;
	}
}

#page-footer {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  padding: 12px;
  font-size: .75em;
  text-align: left;
  color: $theme_text_secondary;
  background-color: $theme_secondary;
  border-top: 4px solid $theme_divider;

  .footer-nav {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    width: 100%;
    max-width: 1280px;
    margin-top: 3em;
    margin-bottom: 3em;
    a {
      text-decoration: none;
      color: $theme_text_secondary;
      &:hover {
        color: $theme_text_primary;
      }
    }
    .social-links {
      a {
        &:hover {
          color: $theme_text_primary;
        }
      }
    }
    li {
      list-style-type: none;
      padding-bottom: 10px;
    }
  }

  .footer-col {
    padding: 10px;
    min-width: 150px;
    h1 {
      margin: 0;
      padding: 0;
      color: $theme_text_primary;
      font-size: 2.10rem;
      line-height: 1em;
    }
    h2 {
      font-size: 1em;
      line-height: 1em;
    }
  }

  .footer-follow {
    .social-links {
      ul {
        @include display-flex;
        @include flex-direction(column);
        padding: 0;
        padding-left: 7px;
      }
    }
    .contact-link-icon {
      display: inline-block;
      margin-right: 10px;
      width: 1em;
    }
  }

  p {
    padding: 0;
    padding-left: 5px;
  }

  h2 {
    margin: 0;
    padding: 0;
    color: $theme_text_primary;
  }

  .footer-nav {
    ul {
      padding: 0;
      padding-left: 5px;
    }
  }

  .footer-branding {
    @include display-flex;
    @include flex-direction(column);
    width: 100%;
    a {
      text-transform: uppercase;
    }
  }

  .footer-tagline {
    box-sizing: border-box;
    padding: 1em 0 1em 5px;
    margin-bottom: 3em;
    font-style: italic;
    border-bottom: 1px solid $theme_divider;
  }

  .footer-back-to-top {
    font-size: 1.2em;
  }

  .footer-copyright {
    margin: 0;
    padding: 0;
    // padding-top: 3em;
    padding-bottom: 3em;
  }
}

.full-screen-page {
	@include flex($fb: auto);
	background-repeat: no-repeat;
	background-position: top;
	min-height: 100vh;
	main {
		text-align: center;
		@include display-flex;
		@include flex-direction(column);
		@include align-items(center);
		justify-items: stretch;
		padding: 20px;
		color: $theme_primary;
		h1 {
			font-size: 5em;
			color: $theme_secondary;
			text-shadow: $theme_text_secondary 1px 0 10px;
			margin: 30px 0;
		}
		h2 {
			font-size: 2em;
			color: $theme_text_secondary;
			text-shadow: $theme_secondary 1px 0 10px;
		}
		a {
			text-decoration: none;
		}
  }

  .http-404-directions {
    @include display-flex;
    @include flex($fb: auto);
    font-size: 4em;
    margin: 40px 0;
    a {
      color: $theme_text_secondary;
      text-shadow: $theme_secondary 1px 0 10px;
      &:hover {
        color: $theme_primary_accent;
      }
    }
  }
}
.full-screen-page.http-404 {
  background-image: url(/img/404-lost.jpg);
}

@media (min-width:768px) {
	.header-content-division {
		padding-top: 80px;
	}
	#page-header {
		nav.header-nav {
			ul {
				min-width: 480px;
			}
			ul.header-links {
				@include display-flex;
			}
			ul.header-links.visible {
				visibility: visible;
				opacity: 1;
			}
		}
	}

  .site-menu-body {
		padding: 40px;
		font-size: 1.25em;
	}

  #landing {
		.landing-description {
			margin: 0 2em;
		}
  }

	#article {
		blockquote {
			margin: 1.5em 0;
			padding: 1em 1em 1.75em;
			&::before {
				display: block;
				margin-left: -1em;
				top: 0;
			}
		}
  }

  #page-footer {
    .footer-nav {
      @include justify-content(space-around);
    }
    .footer-branding {
      flex-basis: 175px;
      white-space: pre-line;
    }
    .footer-tagline {
      border-bottom: none;
    }
  }
}
