
#article {
  flex: auto;
  max-width: 800px;
  padding: 20px;
  margin: 40px 0;
  align-self: center;
}

#article * {
  box-sizing: border-box;
}

#article::before {
  display: table;
  content: "";
}

#article::after {
  display: table;
  clear: both;
  content: "";
}

#article article {
  flex: 1 0 auto;
  text-align: left;
}

#article.news-article > p:first-of-type::first-letter {
  float: left;
  padding-right: 10px;
  font-size: 4em;
}

#article a {
  background-color: transparent;
  text-decoration: none;
  color: var(--primary-accent);
}

#article a:active,
#article a:hover {
  text-decoration: underline;
}

#article strong {
  font-weight: 600;
}

#article p,
#article ul,
#article ol,
#article dl,
#article table,
#article pre {
  margin-top: 0;
  margin-bottom: 16px;
}

/* Horizontal rules */
#article hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  height: 0;
  height: 0.25em;
  margin: 24px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--divider);
}

#article hr::before {
  display: table;
  content: "";
}

#article hr::after {
  display: table;
  clear: both;
  content: "";
}

/* Tables */
#article table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

#article table th {
  font-weight: 600;
}

#article table th,
#article table td {
  padding: 6px 13px;
  border: 1px solid var(--divider);
  background-color: var(--white);
}

#article dd {
  margin-left: 0;
}

#article dl {
  padding: 0;
}

#article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

/* Headers */
#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#article h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid var(--divider);
}

#article h2 {
  padding-bottom: 0.3em;
  font-size: 24px;
  font-weight: 600;
  font-size: 1.5em;
  border-bottom: 1px solid var(--divider);
}

#article h3 {
  font-size: 1.25em;
  font-weight: 600;
}

#article h4 {
  font-size: 1em;
  font-weight: 600;
}

#article h5 {
  font-size: 0.875em;
  font-weight: 600;
}

#article h6 {
  font-size: 0.85em;
  font-weight: 600;
}

#article p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* bullets and numbered lists */
#article ul,
#article ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#article ol ol,
#article ul ol {
  list-style-type: lower-roman;
  padding-left: 2em;
}

#article ul ul ol,
#article ul ol ol,
#article ol ul ol,
#article ol ol ol {
  list-style-type: lower-alpha;
  margin-top: 0;
  margin-bottom: 0;
}

#article li {
  word-wrap: break-all;
}

#article li>p {
  margin-top: 16px;
}

#article li+li {
  margin-top: 0.25em;
}

/* Blockquote */
#article blockquote {
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  padding: 80px 1em 1.75em 1em;
  margin: 1.5em 0 0 0;
  color: var(--text-secondary);
  background: var(--white);
  border-left: 10px solid var(--text-washed-out);
}

#article blockquote::before {
  position: relative;
  display: block;
  height: 0;
  line-height: .5em ***REMOVED***;
  content: "“";
  top: -50px;
  font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
  color: var(--text-muted);
}

#article blockquote p {
  padding-bottom: 1em;
}

#article blockquote cite {
  margin-right: 1em;
}

#article blockquote .fancy-quote-citation {
  color: var(--primary-accent);
  text-align: right;
}

/* Summary */
#article summary {
  font-style: italic;
}

/* Images */
#article img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #f6f6f6;
  border-style: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#article img[align=right] {
  padding-left: 20px;
}

#article img[align=left] {
  padding-right: 20px;
}

@media (min-width: 768px) {
  #article blockquote {
    margin: 1.5em 0;
    padding: 1em 1em 1.75em 1em;
  }

  #article blockquote::before {
    display: block;
    margin-left: -1em;
    top: 0;
  }
}
