:root {
  /* Colors */
  --background: #fefefe;
  --primary: #d0eafa;
  --secondary: #fffed1;
  --primary-accent: #3879a1;
  --text-primary: #0e0e0e;
  --text-secondary: #4e4e4e;
  --text-muted: #999;
  --text-washed-out: #ddd;
  --white: #fdfdfd;
  --divider: #c9c9c9;

  --hamburger-bar-height: 0.38rem;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 1.2rem;
  word-wrap: break-word;
}

a:link {
  color: var(--text-primary);
}

a:visited {
  color: var(--text-primary);
}

a:hover {
  color: var(--text-primary);
}

a:active {
  color: var(--text-primary);
}

.header-content-division {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .header-content-division {
    padding-top: 80px;
  }
}
