
footer#page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  font-size: .75em;
  text-align: left;
  color: var(--text-secondary);
  background-color: var(--secondary);
  border-top: 4px solid var(--divider);
}

.footer-nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1280px;
  margin-top: 3em;
}

.footer-col {
  padding: 10px;
  min-width: 150px;
}

.footer-nav a {
  text-decoration: none;
  color: var(--text-secondary);
}

.footer-nav a:hover {
  color: var(--text-primary);
}

.footer-follow .social-links ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 7px;
}

.footer-nav .social-links a:hover {
  color: var(--text-primary);
}

.footer-follow .contact-link-icon {
  display: inline-block;
  margin-right: 10px;
  width: 1em;
}

nav.footer-nav ul,p {
  padding: 0;
  padding-left: 5px;
}
.footer-nav li {
  list-style-type: none;
}

.footer-col h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

.footer-col h1 {
  font-size: 2em;
  line-height: 1em;
}
.footer-col h2 {
  font-size: 1em;
  line-height: 1em;
}

.footer-branding {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-branding a {
  text-transform: uppercase;
}

.footer-tagline {
  box-sizing: border-box;
  padding: 1em 0 1em 5px;
  margin-bottom: 3em;
  font-style: italic;
  border-bottom: 1px solid var(--divider);
}

.footer-back-to-top {
  font-size: 1.2em;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
}

/* Special layout for larger screens */
@media (min-width: 768px) {
  .footer-nav {
      justify-content: space-around;
  }

  .footer-branding {
    flex-basis: 175px;
    white-space: pre-line;
  }

  .footer-tagline {
    border-bottom: none;
  }
}
