/* Full screen pages like 404 */

.full-screen-page {
  flex: auto;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
}

.full-screen-page.http-404 {
  background-image: url('/img/404-lost.jpg');
}

.full-screen-page main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  padding: 20px;
  color: var(--primary);
}

.full-screen-page main h1 {
  font-size: 5em;
  color: var(--secondary);
  text-shadow: var(--text-secondary) 1px 0 10px;
  margin: 30px 0;
}

.full-screen-page main h2 {
  font-size: 2em;
  color: var(--text-secondary);
  text-shadow: var(--secondary) 1px 0 10px;
}

.full-screen-page main a {
  text-decoration: none;
}

.http-404-directions {
  display: flex;
  flex: auto;
  font-size: 4em;
  margin: 40px 0;
}

.http-404-directions a {
  color: var(--text-secondary);
  text-shadow: var(--secondary) 1px 0 10px;
}
.http-404-directions a:hover {
  color: var(--primary-accent);
}
