/*  List pages */

#list-page {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-self: center;
  max-width: 800px;
  padding: 20px;
}

#list-page * {
  box-sizing: border-box;
}

#list-page .content-header summary {
  font-style: italic;
}

#list-page .content-list {
  display: flex;
  margin: 40px 0;
}

#list-page h1,
#list-page h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#list-page h1 {
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--divider);
}

#list-page h2 {
  padding-bottom: 0.3em;
  font-size: 24px;
  font-size: 1.5em;
  border-bottom: 1px solid var(--divider);
}

#list-page a {
  color: var(--primary-accent);
  text-decoration: none;
}

#list-page a:active,
#list-page a:hover {
  outline-width: 0;
}

#list-page strong {
  font-weight: 600;
}
