<nav class="social-links">
  <ul>
    {{- $items := .context.Site.Menus.social -}}
    {{- $textOnLeft := $.textLeft -}}
    {{- if $.includeContact -}}
      {{- $items = union $items .context.Site.Menus.contact -}}
    {{- end -}}
    {{- range $items }}
    <li>
      <a href="{{ .URL | safeURL }}" aria-label="{{ .Identifier }}" target="_blank" rel="noopener">
        {{- if and $.showNames $textOnLeft -}}
          {{ .Name }}
        {{- end -}}
        <span class="contact-link-icon">{{ .Pre }}</span>
        {{- if and $.showNames (not $textOnLeft) -}}
          {{ .Name }}
        {{- end -}}
      </a>
    </li>
    {{- end -}}
  </ul>
</nav>
